/* Base Variables */
:root {
  --font-family: 'Open Sans', sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Font Sizes */
  --font-size-h1: 22px;
  --font-size-body: 16px;
  --font-size-small: 14px;

  /* Colors */
  --color-primary: #000000;
  --color-secondary: #686868;
  --color-tertiary: #1c76d5;
  --color-error: #cc0000;
}

body {
  margin: 0;
}
